# Environment files
.env
*.env.*

# Virtual environments
venv/
env/

# Python cache
__pycache__/

# Database
db.sqlite3
*.db
*.sqlite
*.sqlite3

# Sensitive files
credentials.json
*.json

# Custom project files
*.task-calendar-sync-459909-4fa88ce7804f.json
*.google_calendar.py
*.emailing.py