
{% extends 'Tasks/base.html' %}
{% load static %}



{% block content %}
    <div class="container mt-4 formContainer">
        <h2>CREATE CONTRACT</h2>
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.as_p }}
                
            </div>
            <input type="submit" class="btn btn-Primary w-100" value="CREATE CONTRACT"/>
            
            <a href="{% url 'StudentTasks:contract_list' %}" class="btn btn-primary">Cancel</a>
            
     </div>
    </main>

    <style>

    .card{
      width: 100%;
    }
    #id_contract_id{
        border-radius: 0px;
        box-shadow: 3px;
    }
    #id_terms_and_conditions{
        box-shadow: 3px;
    }
    form > .mb-3 > p{
        display: flex;
        flex-direction: column;
    }
    form > .mb-3 > p > label{
       
        display: flex;
        justify-content: start;
        
    }
    form > .mb-3 > p > input{
        display: flex;
        justify-content: start;
        border-radius: 0px;
    }
    form > .mb-3 > p > textarea{
        box-shadow: 5px;
    }
    .formContainer{
        border : solid 1px grey ;
        border-radius: 12px;
        box-shadow: 2px 2px 2px ;
    }
    

    
   </style>
{% endblock %}