{% extends 'Tasks/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Add Weekly Report</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <label>Week Number</label>
            <input type="text" class="form-control" id="weekNumDisplay" readonly>
            <label>Auto-calculated Hours:</label>
                <input type="text" 
                    id="calculated-hours" 
                    value="{{ default_hours }}" 
                    readonly
                    class="form-control">
                <small class="text-muted">
                    (8 hours/day * {{ 5 }} weekdays)
        </small>
        </div>
        <button type="submit" class="btn btn-primary">Save Task</button>
        <a href="{% url 'StudentTasks:my_weekly_reports' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dateInput = document.querySelector('#id_date');
        const weekNumDisplay = document.querySelector('#weekNumDisplay');
        const contractStartDate = new Date('{{ contract.start_date|date:"Y-m-d" }}');
        
        dateInput.addEventListener('change', function() {
            const selectedDate = new Date(this.value);
            const timeDiff = selectedDate - contractStartDate;
            const diffDays = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
            const weekNum = Math.floor(diffDays / 7) + 1;
            
            weekNumDisplay.value = `Week ${weekNum}`;
        });
    });
    document.getElementById('id_absent_days').addEventListener('change', function() {
    const absentDays = parseInt(this.value) || 0;
    const weekdays = 5 - Math.min(absentDays, 5);
    document.getElementById('calculated-hours').value = weekdays * 8;
});
</script>
 <style>

    .card{
      width: 100%;
    }
    
    #id_terms_and_conditions{
        box-shadow: 3px;
    }
    form > .mb-3 > p{
        display: flex;
        flex-direction: column;
    }
    form > .mb-3 > p > label{
       
        display: flex;
        justify-content: start;
        
    }
    form > .mb-3 > p > input{
        display: flex;
        justify-content: start;
        border-radius: 0px;
    }
    form > .mb-3 > p > textarea{
        box-shadow: 5px;
    }
    .container{
        border : solid 1px grey ;
        border-radius: 12px;
        box-shadow: 2px 2px 2px ;
    }
    

    
   </style>

{% endblock %}

